.div{
    /* position: absolute; */
    display: inline-block;
    color: blueviolet;
    background-color: rgb(240, 245, 239);
    border: 1px solid rgb(224, 44, 44);
    width: 10%;
    text-align: center;
    right: 5px;
    border-radius: 15%;
    overflow: hidden;
    margin: 3px;
}
.titel{
    margin: 0%;
    width: 100%;
    background-color: chocolate;
    /* border-radius: 25%; */
}
